body{
   background-size: repeat;
    background-image: url("https://i.pinimg.com/564x/61/99/0e/61990e6438b915d83a1439d76ba55560.jpg");
}
h1,p{
    text-align: center;
}
footer{
    text-align: center;
    font-size: 20px;
   display: block;
    unicode-bidi: isolate;
}
h1{
    font-size: 50px;
    color: #79c2d0;
    background-color: white;
    padding: 10px;
    opacity: 0.9;
    margin: 0 auto;
}
p{
    background-color: white;
    font-size: 25px;
    padding: 10px;
    margin: 10px 100px;
    border-radius: 500px;
}
.croissant-photo{
    display: block;
    max-width: 50%;
    border-radius: 10px;
    margin: 30px auto;
    }
